body {
    padding: 0;
    margin: 0;
    font-family: "Instrument Serif",sans-serif, serif;
    background: linear-gradient(#000000, #333333, #666666);
    color: #EFEFEF;
}

h1, .logo, p {
    padding: 0;
    margin: 0;
}

h1, .logo  {
    font-family: "Italianno", sans-serif, serif;
}

h1 {
    font-size: 5em;
}


/* navigation */

.nav {
    background: rgba(245, 245, 245, 0.966);
    text-align: center;
    color: black;
}

.logo {
    font-size: 3.1em;
}

/* header */

.background-banner {
    width: 100%;
    border-bottom: 2px solid gold;;
}

.header-title {
    position: absolute;
    top: 2em;
    left: 2.5em;
    z-index: 1000;
}

.header-text {
    position: absolute;
    top: 17em;
    left: 7.5em;
    z-index: 1000;
}

/* content */

/* Filter */

.filter-list {
    margin: 25px;
}

fieldset {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 25px;
}

legend {
    font-size: 25px;
}

input, button, select {
    border: none;
     border-radius: 5px;
}

/* Removes the spinner arrows for Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Disables the native control appearance */
  margin: 0;                /* Ensures no space is reserved for the control */
}

/* Removes the spinner arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield; /* Sets the appearance to look like a standard text field */
}

label {
    margin-right: 5px;
}

.min-filter-price, .max-filter-price {
    margin: auto;
}

select {
    padding: 1px 5px;
}

.filter-ml {
    margin: auto;
}

button {
    padding: 5px 15px;
    margin: 10px 0;
}

.apply-filter {
    margin-left: 25px;
}

button:hover {
    background-color: greenyellow;
    cursor: pointer;
}


/* Ittars */

.item-lists {
    width: 58%;
    margin: 55px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item-lists img {
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;

}


.ittar-name-p, .ittar-price-p {
    margin-top: 10px;
    font-size: 1.25em;
}

.ittar-size-span {
    margin-left: 8px;
    font-size: 0.75em;
}

.ittar-price-p {
    color: #e8a016;
}

/* Pages */

.page-list-container {
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 20px auto 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-number-container {
    color: black;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    border-radius: 15px;
}

.page-number-container:hover {
     background-color: gold;
     border-radius: 15px;
     transition-delay: 0s;
}



/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
}
.contact > p {
    margin-bottom: 20px;
}

.fa-whatsapp {
    margin-right: 6px;
}

.whatsapp-fixed-position-logo > img {
    width: 95px;
    height: 85px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}
