body {
    padding: 0;
    margin: 0;
    font-family: "Instrument Serif",sans-serif, serif;
    background: linear-gradient(#000000, #333333, #666666);
    color: #EFEFEF;
}

h1, .logo, p {
    padding: 0;
    margin: 0;
}

h1, .logo  {
    font-family: "Italianno", sans-serif, serif;
}

h1 {
    font-size: 5em;
}


/* navigation */

.nav {
    background: rgba(245, 245, 245, 0.966);
    text-align: center;
    color: black;
}

.logo {
    font-size: 3.1em;
}

/* header */

.header {
    display: grid;
    grid-template-areas: "overlap"; 
    
    /* margin: 0 auto; */
    }

.background-banner {
    grid-area: overlap;
    width: 100%;
    height: auto;
    /* display: block; */
    /* Adjusts the image to fit in its container */
    /* object-fit: cover; */
    border-bottom: 2px solid gold;;

}

.image-text-and-title {
    grid-area: overlap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    text-align: center;
    /* z-index: 2; */
    max-width: 50%;
}


/* content */

/* Filter */

.filter-list {
    margin: 25px;
}

fieldset {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 25px;
}

legend {
    font-size: 25px;
}

input, button, select {
    border: none;
    border-radius: 5px;
}

/* Removes the spinner arrows for Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Disables the native control appearance */
  margin: 0;                /* Ensures no space is reserved for the control */
}

/* Removes the spinner arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield; /* Sets the appearance to look like a standard text field */
}

label {
    margin-right: 5px;
}

.min-filter-price, .max-filter-price {
    margin: auto;
}

select {
    padding: 1px 5px;
}

.filter-ml {
    margin: auto;
}

button {
    padding: 5px 15px;
    margin: 10px 0;
}

.apply-filter {
    margin-left: 25px;
}

button:hover {
    background-color: greenyellow;
    cursor: pointer;
}


/* Ittars */

.item-lists {
    width: 58%;
    margin: 55px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.item {
    margin: auto;
}

.item-lists img {
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;

}


.ittar-name-p, .ittar-price-p {
    margin: 10px auto 0;
    font-size: 1.25em;
}

.ittar-size-span {
    display: block;
    font-size: 0.75em;
}

.ittar-price-p {
    color: #e8a016;
}

/* Pages */

.page-list-container {
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 20px auto 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-number-container {
    color: black;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    border-radius: 15px;
}

.page-number-container:hover {
     background-color: gold;
     border-radius: 15px;
     transition-delay: 0s;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 900;
}
.contact > p {
    margin-bottom: 20px;
}

.contact-text {
    font-weight: lighter;
}

.fa-whatsapp {
    margin-right: 6px;
}

.whatsapp-fixed-position-logo > img {
    width: 95px;
    height: 90px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}



/* Media Queries */


/* Phone */

@media screen and (max-width: 575px) {  
    .logo {
        font-size: 1em;
    }
    .header-title {
        font-size: 1em;
    }

    .header-text {
        margin-left: 8px;
        font-size: 0.5em;
    }

    fieldset {
        display: block;
    }
    .apply-filter {
        text-align: center;
        margin: 0;
    }
    fieldset, legend, #applyFilterBtn {
        font-size: 0.5em;
    }

    .max-filter-price {
        margin: 10px 0;
    }

    .item-lists {
        min-width: 150px;
        max-width: 250px;
        gap: 6px;
        text-align: center;
        font-size: 0.3em;
    }

    .item {
        width: 60px;
    }
    .item img {
        width: 60px;
    }

    .ittar-name-p {
        width: 60px;
    }

    .ittar-price-p {
        font-size: 1.5em;
    }

    .contact-text {
        font-size: 0.5em;
    }

    .page-list-container {
        width: 100px;
        height: 30px;
    }

    .page-number-container {
        font-size: 0.5em;
    }

    .page-number-container:hover {
        width: 44px;
        height: 30px;
        background-color: gold;
        border-radius: 25px;
    }

    .whatsapp-fixed-position-logo > img {
        width: 44px;
        height: 40px;
    }
}

@media screen and (min-width: 330px) and (max-width: 450px) {
    .whatsapp-fixed-position-logo > img {
        width: 55px;
        height: 50px;
    }
}


@media screen and (min-width: 450px) and (max-width: 575px){  
    .logo {
        font-size: 2em;
    }
    .header-title {
        font-size: 1.5em;
    }

    .header-text {
        margin-left: 8px;
        font-size: 0.65em;
    }

    fieldset, legend, #applyFilterBtn {
        font-size: 0.7em;
    }

    .item-lists {
        max-width: 350px;
        gap: 6px;
        text-align: center;
        font-size: 0.3em;
    }

    .item {
        width: 80px;
    }
    .item img {
        width: 70px;
    }

    .ittar-name-p {
        width: 70px;
        font-size: 1.9em;
    }

    .ittar-price-p {
        font-size: 2.5em;
    }

    .contact-text {
        font-size: 0.7em;
    }

    .page-number-container {
        font-size: 0.7em;
    }

    .page-number-container:hover {
        width: 44px;
        height: 30px;
        background-color: gold;
        border-radius: 25px;
    }

    .whatsapp-fixed-position-logo > img {
        width: 66px;
        height: 60px;
    }
}

@media screen and (min-width: 575px) and (max-width: 697px) {
    .prices-input {
        width: 55%;
    }
}


/* Tablets and large phones */
@media screen and (min-width: 575px) and (max-width: 1000px){  
    .logo {
        font-size: 3em;
    }
    .header-title {
        font-size: 3em;
    }

    .header-text {
        margin-left: 8px;
        font-size: 0.75em;
    }


    fieldset, legend, #applyFilterBtn {
        font-size: 0.7em;
    }

    .item-lists {
        max-width: 500px;
        gap: 25px;
        text-align: center;
        font-size: 0.3em;
    }

    .item {
        width: 28%;
    }
    .item img {
        width: 100%;
    }

    .ittar-price-p {
        font-size: 3.5em;
    }

    .ittar-name-p {
        text-align: center;
        width: 100%;
        font-size: 2.50em;
        margin: 10px auto 0;
    }
    .contact-text {
        font-size: 0.7em;
    }

    .page-number-container {
        font-size: 1em;
    }

    .page-number-container:hover {
        width: 44px;
        height: 30px;
        background-color: gold;
        border-radius: 25px;
    }

    .whatsapp-fixed-position-logo > img {
        width: 66px;
        height: 60px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .contact-text {
        font-size: 1em;
    }
    
    .whatsapp-fixed-position-logo > img {
        width: 80px;
        height: 75px;
    }
}