body {
    padding: 0;
    margin: 0;
    font-family: "Instrument Serif",sans-serif, serif;
    background-color: #201D1D;
    color: #EFEFEF;
}

h1, .logo, p {
    padding: 0;
    margin: 0;
}

h1, .logo  {
    font-family: "Italianno", sans-serif, serif;
}

h1 {
    font-size: 5em;
}


/* navigation */

.nav {
    display: flex;
    justify-content:space-between;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 3.1em;
}

/* header */

/* .background-image {
    background-image: url("/images/image02.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
} */

.header-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}


/* content */

/* Filter */

.filter-list {
    margin: 25px;
}

fieldset {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap: 25px;
}

legend {
    font-size: 25px;
}

input, button, select {
    border: none;
     border-radius: 5px;
}

/* Removes the spinner arrows for Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Disables the native control appearance */
  margin: 0;                /* Ensures no space is reserved for the control */
}

/* Removes the spinner arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield; /* Sets the appearance to look like a standard text field */
}

label {
    margin-right: 5px;
}

.min-filter-price, .max-filter-price {
    margin: auto;
}

select {
    padding: 1px 5px;
}

.filter-ml {
    margin: auto;
}

button {
    padding: 5px 15px;
    margin: 10px 0;
}

.apply-filter {
    margin-left: 25px;
}

button:hover {
    background-color: greenyellow;
    cursor: pointer;
}


/* Ittars */

.item-lists {
    width: 50%;
    margin: 55px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 50px;
}

.item-lists img {
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;

}


.page-list-container {
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 20px auto 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-number-container {
    color: black;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    border-radius: 15px;
}

.page-number-container:hover {
     background-color: gold;
     border-radius: 15px;
     transition-delay: 0s;
}



.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.contact > p {
    margin-bottom: 20px;
}
